.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Gradient background igual ao perfil */
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Made Tommy', sans-serif;
}

.btn-lg {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
}
